*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ecf9fd;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #030a0c;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem;
}

section {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

form {
  max-width: 57rem;
  width: 100%;
  margin: auto;
  background-color: #f4f8fe;
  padding: 3rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 lightgray;
}

label {
  margin: 0.5rem 0;
  display: block;
  /* font-weight: bold; */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-help input,
.section-help textarea,
select {
  font-style: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(184, 184, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  font-size: 1.25rem;
  background-color: white;
}

textarea {
  resize: none;
  margin-bottom: 0.5rem;
}

.form-control-inline {
  display: flex;
}

.form-control-inline label {
  margin: 0;
  padding: 0 0 0 0.75rem;
}

.form-control-inline input {
  width: 1rem;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #2f3a58;
}

button[type="reset"] {
  background-color: transparent;
}

button[type="submit"] {
  background-color: #2f3a58;
  color: #ecf9fd;
}

button:hover {
  color: #ecf9fd;
  background-color: #4f5a78;
  border-color: #4f5a78;
}
