body {
  background-color: #f3e9ff;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 52px;
  color: #5a33c4;
}

header {
  text-align: center;
  padding: 32px;
}

.head-img {
  width: 300px;
}

main {
  background-color: #774ad8;
  padding: 32px;
  width: 700px;
  margin: 32px auto;
  border-radius: 8px;
  color: #f9eaff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

a {
  text-decoration: none;
  color: #21004f;
  background-color: #fff5b5;
  padding: 2px 6px;
  border-radius: 4px;
}

footer {
  text-align: center;
}

footer p {
  margin-top: 30px;
  color: #877893;
}

footer a {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #f9c927;
  color: #462a00;
}

a:hover,
a:active {
  background-color: #f5d254;
}

.extra-important {
  color: #fff5b5;
  border-color: #f5d254;
}
