body {
  background: linear-gradient(30deg, #4d4d4d, #3a3a3a);
  color: #444444;
}

#page-logo a {
  color: #b7e6eb;
}

header {
  position: static;
}

header a {
  color: #b7e6eb;
}

header nav a:hover {
  color: #3b3b3b;
  background-color: #b7e6eb;
}

main ul {
  width: 1200px;
  margin: 0 auto 84px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

main li {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content h2 {
  margin: 0;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: #16d3e1;
  border-radius: 5px;
}

.actions a:hover {
  background-color: #ebfdff;
}
